<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <div class="Home-nav">
        <a href="/transaction"><button class="Add">+</button></a>
        <ul>
          <li><a href="/home"><button><img src="/images/home.png" height=20px width=20px></button></a></li>
          <li><a href="/statistic"><button><img src="/images/chart.png" height=20px width=20px></button></a></li>
          <li><a href="/goal"><button><img src="/images/target.png" height=26px width=26px></button></a></li>
          <li><a href="/profile"><button><img src="/images/user_log.png" height=20px width=20px></button></a></li>
        </ul> 
    </div>
</body>
</html>